<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact_style.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="nav1"><a href="{{ url_for('index')}}">CAPTIONIFY</a></div>
          <nav>
            <ul>
              <li><a href="{{ url_for('index')}}">HOME</a></li>
              <li><a href="{{ url_for('about')}}">ABOUT</a></li>
              <li><a href="{{ url_for('contact')}}">CONTACT</a></li>
            </ul>
        </nav>
      </div>
    <div class="training-section">
        <h1 style="color: white; padding-top: 2%;">CONTACT</h1>
        
        <div class="container">
            
            <div class="training-items">
                <h3>Project Guide</h3>
                <hr><br>
                <p>Sri. B.Dileep Kumar Reddy</p><br>
                <p>Assistant Professor</p><br>
                <p>CSE Department</p><br>
                <p>GPREC,Kurnool</p><br>
            </div>
            <div class="training-items">
                <h3>Team Member</h3>
                <hr><br>
                <p>J.Pallavi</p><br>
                <p>VII Semester,CSE-B</p><br>
                <p>Roll.no:209X1A0565</p><br>
                <p>Email Address: 209X1A0565@gprec.ac.in</p>
                <p>GPREC,Kurnool</p>
            </div>
            
            <div class="training-items">
                <h3>Team Member</h3>
                <hr><br>
                <p>G.Raja Sekhar</p><br>
                <p>VII Semester,CSE-B</p><br>
                <p>Roll.no:209X1A0591</p><br>
                <p>Email Address: 209X1A0591@gprec.ac.in</p>
                <p>GPREC,Kurnool</p>
            </div>
            
            <div class="training-items">
                <h3>Team Member</h3>
                <hr><br>
                <p>R.Jayasree</p><br>
                <p>VII Semester,CSE-B</p><br>
                <p>Roll.no:219X5A05L1</p><br>
                <p>Email Address: 219X5A05L1@gprec.ac.in</p>
                <p>GPREC,Kurnool</p>
            </div>
            
        </div>
        <br><br><br>
    </div>
</body>
</html>